.venv/
**/.idea/*
!.idea/codeStyles/
dist/
node_modules/
__pycache__/
/ignore/
.parcel-cache/

**/src/*.js
db.sqlite3
*.wasm
/website/static/wasm/*
/website/frontend/generated/*
/wasm/pkg
/wasm/target
*.js
