<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partial/header.ejs') %>
    <style>
        h2 {
            text-align: center;
            font-size: 2em;
            margin-bottom: 1em;
        }

        .bold-text {
            font-weight: bold;
        }

        table {
            width: 100%;
            border-collapse: collapse;
            margin: 20px 0;
            text-align: center;
        }

        tbody tr:nth-child(odd) {
            background-color: #ffffff; /* Light gray for odd rows */
        }

        tbody tr:nth-child(even) {
            background-color: #e9e9e9; /* White for even rows */
        }

        th, td {
            padding: 10px;
            border: 1px solid #000;
        }

        th {
            background-color: #a4a4a4;
        }

        .infinity {
            color: black;
            font-size: 1.5em;
        }

        .check-mark {
            color: green;
            font-size: 1.2em;
        }

        .pricing-button {
            display: inline-block;
            padding: 10px 20px;
            background-color: green;
            color: white;
            text-decoration: none;
            border-radius: 5px;
            cursor: pointer;
            transition: background-color 0.3s ease;
        }

        .pricing-button:hover {
            background-color: darkgreen; /* Change background color on hover */
            cursor: pointer; /* Ensure pointer is displayed on hover */
        }

        #email-form {
            margin-top: 20px;
            text-align: center;
        }

        #email-input {
            padding: 10px;
            font-size: 1em;
            margin-right: 10px;
            width: 30%;
        }

        footer {
            margin-top: 30px;
            padding: 20px;
            text-align: center;
            background-color: #b4b4b4;
            border-top: 1px solid #ddd;
        }
    </style>
    <script>
        $(document).ready(function(){
            $(".pricing-button").click(function(){
                $("#email-form").show();
                // Store the selected plan in a hidden input field
                $("#selected-plan").val($(this).attr("id"));
            });

            $("#submit-email").click(function() {
                var email = $("#email-input").val();
                var selectedPlan = $("#selected-plan").val();

                $.ajax({
                    url: '/save-email',
                    type: 'POST',
                    contentType: 'application/json',
                    data: JSON.stringify({ email: email, plan: selectedPlan }),
                    success: function(data) {
                        alert(data);
                        $("#email-form").hide();
                    },
                    error: function(error) {
                        console.error('Error saving email:', error);
                        // Handle the error appropriately (e.g., display an error message to the user)
                    }
                });
            });
        });
    </script>
</head>
<body>
<%- include('partial/banner.ejs') %>
<div class="content">
    <h2>Unlock the Power of Hybrid OCR: Where Cutting-Edge Technology Meets Unmatched Privacy</h2>
    Welcome to Hybrid OCR, a pioneering platform that transforms the way your documents are digitized. Our unique approach goes beyond the traditional boundaries of OCR technology, merging the precision of human insight with the efficiency of machine learning to deliver unparalleled accuracy. But our innovation doesn't stop there. We understand the importance of your privacy and the confidentiality of your documents. That's why Hybrid OCR is built on two foundational technologies: federated learning and strong encryption, ensuring your documents are not only accurately digitized but also protected with the highest standards of privacy.</br>
    </br>
    <span class="bold-text">Federated Learning: Privacy-Preserving Technology Explained</span></br>
    </br>
    At the heart of Hybrid OCR's privacy commitment is federated learning, a sophisticated approach to machine learning that keeps your data safe and secure. But what exactly is federated learning, and how does it work to protect your privacy?</br>
    </br>
    Federated learning is a revolutionary technology that allows our system to learn from data without ever having to store that data on our servers. Instead of processing and learning from your documents directly, our algorithms are trained right in your browser. This means that the learning process happens locally on your device, utilizing the power of your browser to analyze the document. The insights gained from this process are then shared with our system, but the document itself never leaves your device. This method ensures that our technology continuously improves and becomes more efficient at digitizing documents, all while your information remains private and secure.</br>
    </br>
    <span class="bold-text">Encryption: Your Documents, Safeguarded</span></br>
    </br>
    Understanding the critical importance of document security, Hybrid OCR employs strong encryption to protect your digitized documents. When you decide to save a document after it has been processed, your browser encrypts this document before it ever reaches our servers. What this means for you is simple yet powerful: only the encrypted version of your document is stored on our servers. This encryption process ensures that your documents are not readable by anyone else - not even the team at Hybrid OCR. Only you have the key to decrypt and access your original document, providing you with complete control and peace of mind.</br>
    </br>
    <span class="bold-text">Hybrid OCR: Your Trusted Partner in Document Digitization</span></br>
    </br>
    With Hybrid OCR, you're not just using a tool to digitize documents; you're embracing a platform that stands at the forefront of privacy and security. Our commitment to leveraging federated learning and strong encryption is a testament to our dedication to your privacy. We invite you to experience the next generation of document digitization, where technology and privacy converge to offer you a service that's not only efficient and accurate but also respects and protects your data at every step.</br>
    </br>
    <span class="bold-text">Welcome to the future of document digitization. Welcome to Hybrid OCR.</span></br>

    Prices are tax-inclusive

    <table>
        <thead>
        <tr>
            <th>Plan</th>
            <th>Starter</th>
            <th>Premium</th>
            <th>Enterprise</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>Price/Month</td>
            <td>$10</td>
            <td>$20</td>
            <td>$50</td>
        </tr>
        <tr>
            <td>OCR Model</td>
            <td>Latest</td>
            <td>Latest</td>
            <td>Latest</td>
        </tr>
        <tr>
            <td>Collaboration with users</td>
            <td>Only when invited</td>
            <td>6 free, $2/user</td>
            <td>20 free, $1/user</td>
        </tr>
        <tr>
            <td>Included Storage</td>
            <td>1GB</td>
            <td>100GB</td>
            <td>1000GB</td>
        </tr>
        <tr>
            <td>Storage Expansion</td>
            <td></td>
            <td>$2 per 100GB</td>
            <td>$1.75 per 100GB</td>
        </tr>
        <tr>
            <td>Scans</td>
            <td class="infinity">&infin;</td>
            <td class="infinity">&infin;</td>
            <td class="infinity">&infin;</td>
        </tr>
        <tr>
            <td>Ask The Community</td>
            <td class="infinity">&infin;</td>
            <td class="infinity">&infin;</td>
            <td class="infinity">&infin;</td>
        </tr>
        <tr>
            <td>Offline Mode</td>
            <td></td>
            <td></td>
            <td class="check-mark">&#10003;</td>
        </tr>
        <tr>
            <td>Choose Plan</td>
            <td><a id="starter" class="pricing-button">Select Starter</a></td>
            <td><a id="premium" class="pricing-button">Select Premium</a></td>
            <td><a id="enterprise" class="pricing-button">Select Enterprise</a></td>
        </tr>
        </tbody>
    </table>

    <input type="hidden" id="selected-plan">
    <div id="email-form" style="display: none;">
        <input type="email" id="email-input" placeholder="Enter your email">
        <button id="submit-email">Submit</button>
    </div>
</div>
<%- include('partial/footer.ejs') %>
</body>
</html>
