.error {
  color: red;
  font-weight: bold;
  display: none;
}

.hidden {
  display: none;
}

.website-footer {
  margin-top: 1rem;
  padding: 1rem;
  text-align: center;
  background-color: #b4b4b4;
}

.showcase {
  display: flex;
  flex-direction: row;
  flex: 1;
}

.showcase-divider {
  display: flex;
  flex: 0 0 10px;
  background-color: green;
}

.showcase-image, .showcase-text {
  display: flex;
  flex-direction: column;
  flex: 1;
  border: 1px solid black;
}

.showcase-image {
  cursor: pointer;
}