<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id={{ gtag_id }}"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', '{{ gtag_id }}');
</script>
<script src="/static/js/util.js"></script>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<style>
    html, body {
        margin: 0;
        padding: 0;
        height: 100%;
        display: flex;
        flex-direction: column;
    }
    {% set banner_height = "0vh" if production else "4vh" %}
    {% if not production %}
    .banner {
        background-color: green;
        color: white;
        text-align: center;
        position: fixed;
        top: 0;
        bottom: 0;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1.5em;
        height: {{ banner_height }};
    }
    {% endif %}
    .content {
        /*border: 5px solid black;*/
        flex: 1;
        margin-top: {{ banner_height }};
        padding: 1%;
        box-sizing: border-box;
        /*height: calc(100% - <%= banner_height %>);*/
    }
    footer {
        text-align: center;
        background-color: #b4b4b4;
        /*border-top: 1px solid #ddd;*/
    }
</style>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
