<!DOCTYPE html>
<html lang="en">
<head>
    {% include '_header.html' %}
</head>
<body>
{% include '_banner.html' %}
{% include '_navbar.html' %}
<div class="main-content-f99c33bb">
    <label>password: <input id="password" type="text" value="password"></label>
    <label>salt: <input id="salt" type="text" value="saltsaltsaltsalt"></label>
    <label>m: <input id="m" type="number" value="8192"></label>
    <label>t: <input id="t" type="number" value="10"></label>
    <label>p: <input id="p" type="number" value="1"></label>
    <label>length: <input id="length" type="number" value="16"></label>
    <pre id="view"></pre>
    <pre id="elapsed"></pre>
    <input id="fire" type="button" value="go">
</div>
{% include '_footer.html' %}
<script src="/static/js/util.js" type="module"></script>
<script type="module">
    import * as util from "/static/js/util.js";
    util.set_static_prefix({{ static_prefix }});

    document.getElementById("fire").addEventListener("click", async () => {
        console.log("go clicked");

        const ePassword = document.getElementById("password");
        const eSalt = document.getElementById("salt");
        const eM = document.getElementById("m");
        const eT = document.getElementById("t");
        const eP = document.getElementById("p");
        const eLength = document.getElementById("length");
        const eView = document.getElementById("view");
        const eElapsed = document.getElementById("elapsed");

        try {
            const encoder = new TextEncoder();

            const start = performance.now();
            const argon2_result = await util.argon2id(
                encoder.encode(ePassword.value),
                encoder.encode(eSalt.value),
                Number(eM.value),
                Number(eT.value),
                Number(eP.value),
                Number(eLength.value),
            );
            const end = performance.now();
            const time = (end-start)/1000.0;

            eView.innerHTML = util.toHex(argon2_result.hash, true);
            eElapsed.innerHTML = "seconds: "+time.toString();
            util.clearErrorMessage();
        } catch (e) {
            util.setErrorMessage(e);
        }
    });
</script>
</body>
</html>
