<!DOCTYPE html>
<html lang="en">
<head>
    {% include '_header.html' %}
    <script src="/static/js/ui.js" type="module"></script>
</head>
<body>
{% include '_banner.html' %}
{% include '_navbar.html' %}
<div class="main-content-f99c33bb">
    <label>password: <input id="password" type="text"></label>
    <label>salt: <input id="salt" type="text"></label>
    <label>m: <input id="m" type="number"></label>
    <label>t: <input id="t" type="number"></label>
    <label>p: <input id="p" type="number"></label>
    <label>length: <input id="length" type="number"></label>
    <pre id="view"></pre>
    <input id="fire" type="button" value="go">
</div>
{% include '_footer.html' %}
<script type="module">
    import { util } from "/static/js/util.js";

    document.getElementById("fire").addEventListener("click", async () => {
        console.log("go clicked");
        // await setup_wasm();
        const ePassword = document.getElementById("password");
        const eSalt = document.getElementById("salt");
        const eM = document.getElementById("m");
        const eT = document.getElementById("t");
        const eP = document.getElementById("p");
        const eLength = document.getElementById("length");
        const eView = document.getElementById("view");

        const argon2_result = await util.argon2id(
            ePassword.value,
            eSalt.value,
            Number(eM.value),
            Number(eT.value),
            Number(eP.value),
            Number(eLength.value),
        );

        eView.innerHTML = util.toHex(argon2_result.hash);
    });
</script>
</body>
</html>
