<!DOCTYPE html>
<html lang="en">
<head>
    {% include '_header.html' %}
    <style>
        h2 {
            text-align: center;
            font-size: 2em;
            margin-bottom: 1em;
        }

        #email-form {
            display: flex;
            flex-direction: row;
            /*width: 80%;*/
            justify-content: center;
            margin-top: 4rem;
            text-align: center;
            gap: 1rem;
            margin-bottom: 4rem;
        }

        #email-input {
            padding: 10px;
            font-size: 1rem;
            margin-right: 10px;
            width: 60%;
        }

        #examples {
            display: flex;
            flex-direction: column;
            width: 80%;
            margin: 0 auto;
            gap: 2rem;
        }

        .showcase {
            flex-direction: column;
        }

    </style>
    <script>
        document.addEventListener("DOMContentLoaded", async () => {
            const errorMessage = document.getElementById("error-message");

            $(document).ready(function() {
                $("#submit-email").click(async () => {
                    var email = $("#email-input").val();

                    try {
                        errorMessage.innerText = "";
                        errorMessage.style.display = "none";
                        await register(null, email);
                        window.location.href = "/check-your-email";
                    } catch (e) {
                        errorMessage.innerText = e.message;
                        errorMessage.style.display = "inline";
                    }
                });
            });


            const showcaseMachinePrint = new Showcase(document.getElementById('machine_print'));
            const showcaseBlockLetters = new Showcase(document.getElementById('block_letters'));
            const showcaseCursive = new Showcase(document.getElementById('cursive'));

            for (const showcase of [showcaseMachinePrint, showcaseBlockLetters, showcaseCursive]) {
                const example = showcase.element.id;
                showcase.setImage(`/static/image/${example}.jpg`);
                const path = `/static/ocr/${example}.json`
                const result = await fetch(path);
                if (!result.ok) {
                    errorMessage.innerText = `Failed to load file: ${path}`;
                    errorMessage.display = "inline";
                } else {
                    errorMessage.display = "none";
                }
                showcase.setOcr(JSON.parse(await result.text()));
            }
        });


    </script>
</head>
<body>
{% include '_banner.html' %}
{% include '_navbar.html' %}
<div class="main-content-f99c33bb">

    <div id="examples">
    <div id="email-form">
        <input type="email" id="email-input" placeholder="Enter your email">
        <button id="submit-email" class="fancy-button">Get 10 free scans.</button>
        <span id="error-message" class="error hidden"></span>
    </div>
    <div id="machine_print" class="showcase">
        <div class="showcase-image">
            <img src="" alt="machine print example">
        </div>
        <div class="showcase-text">
            <div class="tab-button-container">
                <button class="tab-button active" data-tab="text">Text</button>
                <button class="tab-button" data-tab="json">Json</button>
            </div>
            <textarea class="tab-display" readonly>
                No data yet.
            </textarea>
        </div>
    </div>

    <div id="block_letters" class="showcase">
        <div class="showcase-image">
            <img src="" alt="block letters example">
        </div>
        <div class="showcase-text">
            <div class="tab-button-container">
                <button class="tab-button active" data-tab="text">Text</button>
                <button class="tab-button" data-tab="json">Json</button>
            </div>
            <textarea class="tab-display" readonly>
                No data yet.
            </textarea>
        </div>
    </div>

    <div id="cursive" class="showcase">
        <div class="showcase-image">
            <img src="" alt="cursive example">
        </div>
        <div class="showcase-text">
            <div class="tab-button-container">
                <button class="tab-button active" data-tab="text">Text</button>
                <button class="tab-button" data-tab="json">Json</button>
            </div>
            <textarea class="tab-display" readonly>
                No data yet.
            </textarea>
        </div>
    </div>
    </div>

    <p class="info-paragraph">
        Hybrid OCR offers top-tier document digitization with a focus on privacy.
        Your scans and text are securely encrypted in your browser, ensuring
        they stay private and protected. While we currently send your scans to
        Google’s highly accurate OCR, we’re developing our own engine that will
        run entirely within your browser—meaning your documents will never leave
        your device. Our goal with Hybrid OCR is that you will be able to digitize
        your documents confidently, knowing that privacy is always a key focus.
    </p>
</div>
{% include '_footer.html' %}
</body>
</html>
