<!DOCTYPE html>
<html lang="en">
<head>
    {% include '_header.html' %}
    <style>
        #drop-area {
            border: 2px dashed gray;
            border-radius: 20px;
            padding: 1%;
            cursor: pointer;
        }

        #drop-area:hover {
            background-color: #f2f2f2;
        }
    </style>
    <script src="https://challenges.cloudflare.com/turnstile/v0/api.js" async defer></script>
</head>
<body>
{% include '_banner.html' %}
{% include '_navbar.html' %}
<div class="main-content-f99c33bb">
    <span id="error-message" class="error">No errors</span>
{% if need_email or need_challenge %}
    <!-- get email if needed and a button to send a new link -->
    {% if need_email %}
    <input type="email" id="email" placeholder="Your email address">
    <button id="submit-email-btn">Get some free scans</button>
    {% elif need_challenge %}
    <button id="send-new-link-btn">Email a new link.</button>
    {% else %}
    <p>nonsensical combination of need_email and need_challenge</p>
    {% endif %}
{% else %}
    <div class="warning-message">
        <svg class="warning-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" width="40" height="40" aria-hidden="true">
            <polygon points="50,10 90,90 10,90" fill="yellow" stroke="black" stroke-width="3"></polygon>
            <text x="50" y="75" font-size="50" text-anchor="middle" fill="black" font-family="Arial" font-weight="bold">!</text>
        </svg>
        <span class="warning-text">Your scans will be sent to Google for processing. They will be deleted from the server immediately after that.</span>
    </div>
    <div>
        <label>username: </label><span id="username">{{ username }}</span>
    </div>
    <div>
        <label>credit(s): </label><span id="balance">0</span>
    </div>
    <div id="side-by-side" class="showcase">
        <div id="drop-area" class="showcase-image">
            <img src="" id="uploaded-image" alt="Drag & drop an image here or click to select">
        </div>
        <div class="showcase-divider"></div>
        <div class="showcase-text">
            <div class="tab-button-container">
                <button class="tab-button active" data-tab="text">Text</button>
                <button class="tab-button" data-tab="json">Json</button>
            </div>
            <textarea readonly>
                No data yet.
            </textarea>
        </div>
    </div>

    <input type="file" id="file-input" style="display: none;">
    <div class="cf-turnstile" data-sitekey="{{ cf_site }}" data-callback="onCaptchaSuccess"></div>
    <span><button id="recognize-btn" class="fancy-button">Digitize with Google</button></span>

    <div id="loading" hidden>Recognizing text, please wait...</div>
{% endif %}
</div>
{% include '_footer.html' %}
<script>
    const dropArea = document.getElementById('drop-area');
    const fileInput = document.getElementById('file-input');
    const recognizeBtn = document.getElementById('recognize-btn');
    const loadingMessage = document.getElementById('loading');
    const eUsername = document.getElementById('username');
    const eBalance = document.getElementById('balance');
    const eSideBySide = document.getElementById('side-by-side');
    let showcase = null;
    if (eSideBySide != null) {
        showcase = new Showcase(eSideBySide);
    }

    {% if need_email %}
        // Handle email submission
        const emailInput = document.getElementById('email');
        const submitEmailBtn = document.getElementById('submit-email-btn');

        submitEmailBtn.addEventListener('click', async () => {
            const email = emailInput.value.trim();

            try {
                clearErrorMessage();
                await register(null, email);
                window.location.href = "/check-your-email";
            } catch (e) {
                setErrorMessage(e.message);
            }
        });
    {% elif need_challenge %}
        // Handle sending a new link
        const sendNewLinkBtn = document.getElementById('send-new-link-btn');

        sendNewLinkBtn.addEventListener('click', async () => {
            const url = new URL(window.location.href);
            const p = new URLSearchParams(url.search);
            const _id = p.get('_id');

            try {
                clearErrorMessage();
                await register(_id, null);
                window.location.href = "/check-your-email";
            } catch (e) {
                setErrorMessage(e.message);
            }
        });
    {% endif %}

    dropArea.addEventListener('dragover', (event) => {
        event.preventDefault();
    });

    dropArea.addEventListener('drop', (event) => {
        event.preventDefault();
        dropArea.style.borderColor = '#ccc';
        handleImage(event.dataTransfer.files[0]);
    });

    dropArea.addEventListener('click', () => {
        fileInput.click();
    });

    let captchaToken = null;
    let needReset = false;

    fileInput.addEventListener('change', (event) => {
        handleImage(event.target.files[0]);
    });

    async function getBalance() {
        const response = await fetch('/api/v1/balance', {method: 'GET'});
        return await response.json()
    }

    async function updateBalance() {
        const result = await getBalance();
        eUsername.innerText = result["username"];
        eBalance.innerText = result["balance"];
    }

    window.onload = async () => {
        await updateBalance();
        readyToSubmit();
    };

    function resetCaptcha() {
        turnstile.reset();
        captchaToken = null;
        needReset = false;
        readyToSubmit();
    }

    function handleImage(file) {
        if (file) {
            try {
                showcase.setImage(file);
            } catch (e) {
                setErrorMessage(e.message);
            }
            if (needReset) {
                resetCaptcha();
            }
            readyToSubmit();
        }
    }

    function readyToSubmit() {
        recognizeBtn.disabled = needReset || captchaToken == null || showcase.getImage() == null;
        return !recognizeBtn.disabled;
    }

    function onCaptchaSuccess(token) {
        console.log("CAPTCHA solved successfully. Token:", token);
        captchaToken = token;  // Store the token for later use
        readyToSubmit();
    }

    // Optional: Callback function when the CAPTCHA expires
    function onCaptchaExpired() {
        console.log("CAPTCHA expired. Please solve it again.");
        captchaToken = null;  // Clear the token
        document.getElementById("recognize-btn").disabled = true;
    }


    recognizeBtn.addEventListener('click', async () => {
        if (!readyToSubmit()) {
            alert("add an image and solve the captcha");
            return;
        }

        try {
            loadingMessage.style.display = 'block';

            const url = new URL(window.location.href);
            const p = new URLSearchParams(url.search);
            const authorization = p.get('_id')+":"+p.get('challenge')

            const arrayBuffer = await showcase.getImage().arrayBuffer();
            const response = await fetch('/api/v1/ocr', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/octet-stream',
                    'Authorization': authorization,
                    'cf-turnstile': captchaToken,
                },
                body: arrayBuffer,  // Send raw binary data
            });

            // Check for response success
            if (response.ok) {
                showcase.setOcr(await response.json());
                needReset = true;
                readyToSubmit();
                await updateBalance();
                clearErrorMessage();
            } else {
                const errorText = await response.text();
                setErrorMessage(`Error: ${errorText}`);
            }
        } catch (error) {
            setErrorMessage(`Error: ${error.message}`);
        } finally {
            loadingMessage.style.display = 'none';
        }
    });
</script>

</body>
</html>
